<ion-header>
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        <!-- Informações -->
        Detalhes do Balcão
      </ion-title>
      <ion-buttons slot="end" style="position: relative; zoom: 1.8; left: 0;">
        <ion-icon name="share" (click)="presentActionSheet()"></ion-icon>
      </ion-buttons>

    </ion-toolbar>
  </div>
</ion-header>


<ion-content overflow-scroll="false">
</ion-content>