ion-header {
  background: #e6e367;
  ion-toolbar {
    --background: transparent;
    --border-width: 0px;
  }

  ion-back-button {
    color: black !important;
  }

  ion-buttons {
    position: absolute;
    left: 1em;
  }

  ion-title {
    position: relative;
    font-size: 2em;
    margin: 0.35em auto;
    color: black;
    font-weight: bolder;
    text-align: center;
  }
}

.card-title-info {
  float: right;
  padding-right: 10px;
  font-size: 14px;
  line-height: 1.5;
}

.modality-card {
  display: inline-block;
}

.footer-grid {
  padding: 0px;
}

.center-button {
  text-align: center;
  padding: 0px;
}

ion-footer {
  background: white;
  font-weight: bolder;

  ion-grid {
    padding: 0;
    ion-row > ion-col {
      padding: 0;
    }
  }
}

// NEW
.pre-cover {
  margin-top: 25px;
  width: 100vw;
}

.cover {
  width: 100vw;
  height: 30vh;
}

.list {
  top: 25vh;
  left: 10px;
  right: 10px;
  position: absolute;
  z-index: 999999999;
  background: transparent;
  width: 90%;
  margin: auto;

  ion-card {
    margin: 0px;
    border-radius: 15px 15px 0px 0px;
    ion-card-header {
      background: #d9af4d;
      padding-left: 16px;
      padding-right: 0px;
      ion-card-title {
        color: white;
        font-weight: bolder;
        font-size: 20px;
      }
    }
  }

  ion-card-content {
    background: #d9af4d;
    ion-list {
      background: transparent;
      ion-item {
        background: transparent;
        --background: transparent;
      }
    }
  }

  ion-card.card1 {
    ion-card-content {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }

  ion-card.card2 {
    top: -12px;

    ion-card-header {
      background: #817cb7;
    }
    ion-card-content {
      background: #817cb7;
      padding-top: 0px;
      padding-bottom: 40px;
    }
  }

  ion-card.card3 {
    top: -24px;
    border-radius: 15px 15px 10px 10px;

    ion-card-header {
      background: #41a6b3;
      padding-top: 10px;
      padding-bottom: 20px;
    }
    ion-card-content {
      background: #41a6b3;
      padding-bottom: 40px;
    }
  }
}

.detail {
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.detail.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  position: absolute;
  text-decoration: underline;
  color: whitesmoke;
}

.detail.link.register {
  width: 100%;
}