<ion-header>
  <div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Chats</ion-title>
      <ion-searchbar animated mode="ios" placeholder="Pesquisar" debounce="200"></ion-searchbar>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content overflow-scroll="false">
  <div class="empty-company-list" *ngIf="companyList.length == 0">
    <div>
      Oops...<br>não foi possível encontrar as empresas!<br><br>
      <fa-icon [icon]="['fas', 'frown']" size="3x" slot="start"></fa-icon>
    </div>
  </div>

  <div class="list-companys" *ngIf="showCompanys">
    <ion-card *ngFor="let company of companyList">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-card-subtitle class="company-name">{{company?.name}}</ion-card-subtitle>
            <ion-col size="12">
              <ion-card-subtitle class="company-info company-date">
                {{company?.date | date:'dd/MM/yyyy'}}
              </ion-card-subtitle>
              <ion-card-subtitle class="company-info company-hour">
                {{company?.registerPeriod.begin | date:'H:mm' }}-{{company?.registerPeriod.end | date:'H:mm' }}({{ company?.date | date:'zzz':'locale' }})
              </ion-card-subtitle>
              <ion-card-subtitle class="company-info company-place"
                *ngIf="(company?.place.country != ' - ' && company?.place.country != '') && (company?.place.city != ' - ' && company?.place.city != '') && (company?.place.state != ' - ' && company?.place.state != '')">
                {{company?.place.country}} - {{company?.place.city}}/{{company?.place.state}}
              </ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>