ion-header {
    background: #8800D6;

    ion-toolbar {
        --background: transparent;
        --border-width: 0px;
    }

    ion-back-button {
        color: black !important;
    }

    ion-title {
        position: relative;
        font-size: 1.5em;
        margin: 0.35em auto;
        color: #FFFFFF;
        font-weight: bolder;
        text-align: center;
    }
}

.each-item {
    display: inline-block;
    margin: 10px 0px;
}

.chat-name {
    display: block;
    color: black;
    font-weight: bolder;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.chat-info {
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 15px;

    fa-icon {
        margin-right: 5px;
    }
}

.item-content {
    width: 80vw;

    .right {
        text-align: center;
        padding-right: 1.5em;
    }
}

.chat-last-message {
    display: block;
}
