<ion-content overflow-scroll="false">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label class="ion-text-wrap" position="floating">Qual o seu objetivo para daqui 5 anos?</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label class="ion-text-wrap" position="floating">Qual o seu hobby?</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item>
          <ion-label class="ion-text-wrap" position="floating">Qual o seu maior sonho ultimamente?</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" shape="round" (click)="saveQuestions()">Responder</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>