ion-header {
    background: #8800D6;

    ion-toolbar {
        --background: transparent;
    }

    ion-back-button {
        color: #FFFFFF !important;
    }

    ion-title {
        position: relative;
        font-size: 1.5em;
        margin: 0.35em auto;
        color: #FFFFFF;
        font-weight: bolder;
        text-align: center;
    }
}
ion-content {
    background-color: #8800D6 !important;
}
ion-card-header {
    background-color: #ffc409;
}

.empty-company-list {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: #FFFFFF;

    div {
        display: table-cell;
        vertical-align: middle;
        font-weight: bolder;
    }
}
.company-title {
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.company-name {
    color: black;
    font-weight: normal;
    font-size: 20px;
}

.company-info {
    color: black;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
