ion-header {
    background: #8800D6;

    ion-toolbar {
        --background: transparent;
        --border-width: 0px;
    }

    ion-back-button {
        color: #FFFFFF !important;
    }

    ion-buttons {
        position: absolute;
        right: 1em;
        color: #FFFFFF;
    }

    ion-title {
        position: relative;
        font-size: 2em;
        margin: 0.35em auto;
        color: #FFFFFF;
        font-weight: bolder;
        text-align: center;
    }
}

// button {
// 	ion-badge {
// 		position: absolute;
// 		top: -0.2rem;
// 		right: -0.2rem;
// 		opacity: 0.9;

// 		& ~ ion-icon {
// 			margin-right: 1.2rem;
// 		}
// 	}
// }

ion-buttons button {
    background: none;
}

.profile-font {
    font: 38px bold;
    font-family: Circular;
}

.font-info {
    font-size: 12px;
    font-weight: bold;
    color: #d1dddf;
}

.style-item {
    background-color: #F8F8F8;
    --background: #F8F8F8;
    border-radius: 30px;
}

.font-labels {
    font-size: 12px;
}

button {
    background: none !important;
}

.select-text {
    font-size: 14px !important;
}

.user-name {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}
