ion-header {
  background: #ffc409;
  
  ion-button {
    --color: black;
  }

  ion-row {
    margin: 0 2vh 0 2vh;
  }
}
ion-content {
  ion-row {
    margin: 3vh 2vh 0 2vh;
    color: #FFFFFF;
    ion-label{
      font-weight: bold;
    }
  }
}
.company-title {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.company-name {
  color: black;
  font-weight: normal;
  font-size: 20px;
}

.company-info {
  color: black;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}